//localhost:8081/repository/WeatherApp/:username=admin
//localhost:8081/repository/WeatherApp/:password=Parshwa@9099
//localhost:8081/repository/WeatherApp/:_authToken=0898ee46-6ee2-31cc-98d3-c3c7acea1403
//localhost:8081/repository/WeatherApp/:always-auth=true
